body {
  min-width: 1170px;
  margin: 0 auto;
  color: #232323;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.main__info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: hidden;
}

.main__left {
  width: 40%;
  height: 100%;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding: 30px 20px;
}

.logo__title {
  font-size: 32px;
  font-weight: 400;
  padding-right: 30px;
}

.logo__pic {
  width: 80px;
  height: 100px;
  border-radius: 50%;
}

.contacts {
  height: 600px;
  background-color: #222536;
  font-weight: 400;
  position: relative;
}

.contacts__icon-user {
  position: absolute;
  top: 25px;
  left: -58px;
}

.contacts__list {
  color: #fff;
  font-size: 26px;
  font-weight: 400;
  position: relative;
  line-height: 3;
}

.contacts__list::before {
  content: '';
  position: absolute;
  top: 8px;
  left: -75px;
  display: block;
  width: 60px;
  height: 60px;
  background-image: url("../../img/6square-white.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts__icon-phone {
  position: absolute;
  top: 110px;
  left: -53px;
}

.contacts__icon-phone::after {
  content: '';
  position: absolute;
  top: -23px;
  left: -22px;
  display: block;
  width: 60px;
  height: 60px;
  background-image: url("../../img/6square-white.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts__icon-mail2 {
  position: absolute;
  bottom: 27px;
  left: -54px;
}

.contacts__icon-mail2::after {
  content: '';
  position: absolute;
  bottom: -19px;
  left: -21px;
  display: block;
  width: 60px;
  height: 60px;
  background-image: url("../../img/6square-white.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts__link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.contacts__link:hover {
  color: #ffc92f;
}

.contacts__info {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.objective {
  width: 70%;
  min-height: 100px;
}

.objective__item {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

.main__right {
  width: 60%;
  height: 700px;
  position: relative;
  z-index: 1;
}

.main__right::before {
  content: '';
  width: 200px;
  height: 610px;
  position: absolute;
  top: 0;
  left: -70px;
  background-color: #fff;
  -webkit-transform: skewX(-11deg);
          transform: skewX(-11deg);
  z-index: -1;
}

.work__title {
  margin: 0;
  font-size: 26px;
  font-weight: 400;
  padding: 20px 0;
  padding-left: 40px;
  position: relative;
  margin: 26px 26px;
}

.work__title::after {
  content: '';
  position: absolute;
  bottom: 20px;
  left: 40px;
  display: block;
  border-bottom: 2px solid #222536;
  width: 100%;
}

.work__title::before {
  content: '';
  position: absolute;
  bottom: -8px;
  left: -10px;
  display: block;
  width: 60px;
  height: 60px;
  background-image: url("../../img/6square.svg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.work__icon-briefcase {
  position: absolute;
  bottom: 10px;
  left: 3px;
}

.work__list {
  line-height: 2;
  font-size: 18px;
}

.skills {
  padding-top: 100px;
}

.skills__title {
  font-size: 26px;
  font-weight: 400;
  padding: 20px 0;
  padding-left: 40px;
  position: relative;
}

.skills__title::after {
  content: '';
  position: absolute;
  bottom: 20px;
  left: 40px;
  display: block;
  border-bottom: 2px solid #222536;
  width: 100%;
}

.skills__title::before {
  content: '';
  position: absolute;
  bottom: -8px;
  left: -10px;
  display: block;
  width: 60px;
  height: 60px;
  background-image: url("../../img/6square.svg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.skills__icon-pencil {
  position: absolute;
  bottom: 10px;
  left: 3px;
}

.skills__list {
  line-height: 2;
  font-size: 18px;
}

.portfolio {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #222536;
  color: #fff;
  padding-left: 8%;
}

.portfolio__title {
  font-size: 32px;
  font-weight: 400;
  margin-right: 30%;
}

.portfolio__link {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

.portfolio__link:hover {
  color: #ffc92f;
}

.education {
  width: 100%;
  min-height: 300px;
  position: relative;
  overflow: hidden;
}

.education__title {
  font-size: 26px;
  font-weight: 400;
  margin-top: 45px;
  position: relative;
  padding-left: 45%;
  margin: 45px 0;
}

.education__title::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: -62px;
  display: block;
  border-bottom: 2px solid #222536;
  width: 60%;
}

.education__title::before {
  content: '';
  position: absolute;
  top: -8%;
  left: 41%;
  display: block;
  width: 60px;
  height: 60px;
  background-image: url("../../img/6square.svg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.education__item-library {
  position: absolute;
  top: 14px;
  left: 42%;
}

.education__info {
  width: 85%;
  min-height: 300px;
  background-color: #222536;
  position: relative;
  right: 0;
  bottom: 0;
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
  z-index: 1;
}

.education__info::before {
  content: '';
  width: 200px;
  min-height: 300px;
  position: absolute;
  top: 0;
  left: -70px;
  background-color: #222536;
  -webkit-transform: skewX(-11deg);
          transform: skewX(-11deg);
  z-index: -1;
}

.education__list {
  display: inline-block;
  margin-top: 60px;
  margin-left: 15%;
  line-height: 2;
}

.education__item {
  color: #fff;
  font-size: 18px;
}
/*# sourceMappingURL=main.css.map */