.portfolio {
    height: 150px;
    display: flex;
    align-items: center;
    background: $colorBlack;
    color: $colorWhite;
    padding-left: 8%;

    &__title {
        font-size: 32px;
        font-weight: 400;
        margin-right: 30%;
    }

    &__link {
        font-size: 18px;
        font-weight: 400;
        color: $colorWhite;

        &:hover {
            color: $colorYellov;
        }
    }
}